:root {
    --background: #0A0E14;
    --foreground: #F9FAFB;
    --border-muted: rgba(255, 255, 255, 0.05);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-color: var(--border-muted);
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background: var(--background);
    color: var(--foreground);
}

a {
    color: inherit;
    text-decoration: none;
}